.about__tabs {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 0 12px;
  border-bottom: 1px solid $color-light-grey;
}

.about__tab {
  margin-right: 3px;
  padding: 5px 9px;
  border: none;
  border-radius: 4px;
  background-color: $color-transparent;
  color: $color-basic-white;
  opacity: 0.5;
  transition: $trans-default;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $color-light-grey;
    opacity: 0.8;
  }

  &--active  {
    background-color: $color-light-grey;
    opacity: 1;
  }
}

.about__content {
  list-style: none;
  margin: 0;
  padding: 11px 0 12px;
  border-bottom: 1px solid $color-light-grey;
}

.about__text {
  margin: 0 0 10px;
  transition: $trans-default;
  font-size: 12px;
  line-height: 20px;

  a {
    color: inherit;
    transition: $trans-default;

    &:hover,
    &:focus {
      opacity: 0.8;
      text-decoration: underline;
    }
  }
}

.about__more {
  display: none;

  &--visible {
    display: inline;
  }
}

.about__text--nojs .about__more {
  display: block;
}

.about__more-button {
  padding: 4px 11px;
  color: $color-cyan;
  border: 1px solid $color-light-grey;
  border-radius: 4px;
  background-color: $color-transparent;
  transition: $trans-default;
  font-size: 10px;
  line-height: 14px;

  &:hover,
  &:focus {
    background-color: $color-light-grey;
  }
}

.about__text--nojs + .about__more-button {
  display: none;
}

.about__item {
  display: none;

  &--active {
    display: block;
  }
}

.about--nojs .about__item {
  display: block;
}

.about__item--stats .about__text {
  display: flex;
  justify-content: space-between;
  width: 50%;

  @include vp-768 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;

    dt {
      text-align: end;
    }
  }
}
