.briefly {
  display: flex;
  justify-content: space-between;
  padding: 9px 15px 12px;
  background-color: $color-black-pearl;
  border-radius: 4px;
  font-size: 10px;
  line-height: 14px;
}

.briefly__item {
  display: flex;
  align-items: center;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 1px;
    right: -16px;
    width: 1px;
    height: 100%;
    background-color: $color-light-grey;
  }

  &:last-child::after {
    display: none;
  }
}

.briefly__title {
  opacity: 0.5;
}

.briefly__content {
  margin-left: 7px;
}

.briefly__content--range {
  margin-left: 10px;
  position: relative;
  width: 100px;
  padding-bottom: 5px;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    bottom: 0;
    height: 1px;
    background-image: url(../img/svg/range.svg);
  }

  &::after {
    position: absolute;
    content: "";
    bottom: -2px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    transform: translateX(-50%);
    background-color: $color-default-white;
  }
  &.briefly__content--daily::after {
    left: 75%;
  }
  &.briefly__content--yearly::after {
    left: 24%;
  }
}
