.card__header {
  display: flex;
  padding-left: 3px;

  @include vp-768 {
    flex-wrap: wrap;
  }
}

.card__search {
  flex-grow: 1;
}

.card__price {
  margin-left: 10px;

  @include vp-768 {
    width: 100%;
    margin: 5px 0 0;
  }
}

.card__briefly {
  margin: 12px 0;
  margin-left: 3px;
}
