.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto min-content min-content auto;
  row-gap: 7px;
  column-gap: 8px;
  margin-top: 11px;

  @include vp-768 {
    display: block;
  }
}

.info__block {
  background-color: $color-black-pearl;
  border-radius: 4px;

  @include vp-768 {
    margin-bottom: 10px;
  }
}

.info__heading {
  font-weight: 600;
  text-transform: uppercase;
  padding: 12px;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
}

.info__block--charts {
  grid-row: 1 / 3;
}

.info__block--recommendations {
  grid-row: 3 / 5
}

.info__block--peers {
  grid-row: 2 / 4;
}
