.peers {
  padding-bottom: 15px;
}

.peers__table {
  width: 100%;
  border-collapse: collapse;
  position: relative;

  tr {
    &:first-child {
      border-top: 1px solid $color-light-grey;
      border-bottom: 1px solid $color-light-grey;
      margin-bottom: 11px;
    }
  }

  th {
    text-align: start;
    padding: 2px 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    opacity: 0.5;

    &:last-child {
      width: 100px;
      text-align: end;
    }
  }

  td {
    padding: 7px 0 8px;
    font-weight: 600;

    &:first-child {
      color: $color-cyan;
    }

    &:nth-child(2) {
      padding-left: 5px;
      padding-right: 5px;
      font-weight: 400;
      opacity: 0.5;
    }
  }

  td:first-child,
  th:first-child {
    padding-left: 12px;
  }

  td:last-child,
  th:last-child {
    padding-right: 12px;
  }

  td:last-child {
    text-align: center;
  }
}

.peers__item {
  &--stonks td:last-child {
    color: $color-cyan;
  }

  &--not-stonks td:last-child {
    color: $color-red;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 12px;
    right: 12px;
    height: 1px;
    background-color: $color-light-grey;
  }

  &:last-child::after {
    display: none;
  }

  &--active {
    td {
      padding-top: 18px;
    }

    &::after {
      position: absolute;
      top: 30px;
      left: 4px;
      right: 4px;
      height: 31px;
      border: 1px solid $color-cyan;
      background-color: $color-transparent;
      border-radius: 4px;
    }
  }
}
