.popup {
  background-color: $color-black-pearl;
  color: $color-basic-white;
  border-radius: 4px;
  position: absolute;
  width: 654px;
  top: 0;
  left: 50%;
  transform: translate(-50%) scaleY(0);
  opacity: 0;
  transition: opacity $trans-default, transform $trans-default 1s;

  @include vp-768 {
    width: 95%;
  }
}

.popup--opened {
  transition: opacity $trans-default;
  opacity: 1;
  transform: translate(-50%);
}

.popup__overlay {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: calc(100% + 40px);
  min-height: 100vh;
  background-color: rgba($color: $color-black-pearl, $alpha: 0.8);
  z-index: -1;
}

.popup--nojs {
  position: static;
  margin: 20px auto;
  transform: none;
}

.popup__header {
  display: flex;
  justify-content: space-between;
}

.popup__tabs {
  display: flex;
  justify-self: baseline;
  list-style: none;
  padding: 7px 4px 0;
  margin: 0;
}

.popup__tab {
  flex-shrink: 4;
  display: flex;
  padding: 6px;
  margin-right: 8px;
  height: 28px;
  position: relative;
  transition: background-color $trans-default;
  transition: opacity $trans-default;
  cursor: default;
  overflow: hidden;

  @include hover-focus {
    background-color: $color-basic-grey;
    opacity: 0.8;
  }

  &::after {
    content: "";
    position: absolute;
    top: 20%;
    left: -3px;
    width: 1px;
    height: 60%;
    background-color: $color-light-grey;
  }

  &:first-child {
    &::after {
      display: none;
    }
  }
}

.popup__tab--active {
  padding: 5px;
  background-color: $color-basic-grey;
  border: 1px solid $color-light-grey;
  border-bottom: 1px solid $color-basic-grey;
  border-radius: 4px 4px 0 0;

  &::after {
    display: none;
  }

  @include hover-focus {
    opacity: 1;
  }
}

.popup__tab--active + .popup__tab::after {
  display: none;
}

.popup__tab-text {
  margin: 0;

  @include vp-768 {
    font-size: 10px;
    line-height: 20px;
  }
}

.popup__tab-close {
  flex-shrink: 0;
  padding: 1px;
  border: none;
  background-color: $color-transparent;
  margin-right: 2px;
  margin-left: 8px;
  color: $color-special-grey;
  transition: $trans-default;
  cursor: pointer;

  @include hover-focus {
    color: $color-basic-white;
  }
}

.popup__window-nav {
  flex-shrink: 0;
  display: flex;
  padding: 0 10px;
  align-self: center;

  @include vp-768 {
    padding: 0 5px;
  }

  button {
    flex-shrink: 0;
    display: flex;
    align-items: flex-end;
    border: none;
    padding: 2px;
    height: 12px;
    margin-left: 6px;
    background-color: $color-transparent;
    color: $color-special-grey;
    cursor: pointer;
    transition: $trans-default;

    @include vp-768 {
      margin-left: 3px;
    }

    svg {
      @include vp-768 {
        width: 5px;
      }
    }

    @include hover-focus {
      color: $color-basic-white;
    }
  }
}

.popup__card {
  background-color: $color-basic-grey;
  border: 1px solid $color-light-grey;
  border-radius: 0 0 4px 4px;
  margin-top: -1px;
  padding: 12px 12px 10px;
  padding-right: 11px;
}

.popup__item {
  display: none;

  &--active {
    display: block;
  }
}
