.price {
  display: flex;
  justify-content: space-around;
  border: 1px solid $color-light-grey;
  border-radius: 4px;
  font-weight: 600;
  padding: 4px 7px 2px;
  align-items: center;
  position: relative;
  min-width: 145px;

  &::before {

    content: "";
    width: 1px;
    height: 100%;
    top: 0;
    background-color: $color-light-grey;
    order: 1;
  }
}

.price__value {
  font-size: 14px;
}

.price__currency {
  font-size: 10px;
  font-weight: 400;
  opacity: 0.5;
}

.price__growth {
  order: 3;

  svg {
    display: inline-block;
  }

  &--stonks {
    color: $color-green;
  }

  &--not-stonks {
    color: $color-red;
  }
}
