.search {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.search__input {
  padding: 5px 27px;
  background-color: $color-transparent;
  color: $color-basic-white;
  border: 1px solid $color-light-grey;
  border-radius: 4px;
  width: 100%;
  transition: $trans-default;

  &:hover,
  &:focus {
    outline: none;
    border-color: $color-basic-white;
  }
}

.search__button {
  padding: 1px;
  border: none;
  background-color: $color-transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
  color: $color-special-grey;
  cursor: pointer;
  transition: $trans-default;

  &:hover,
  &:focus {
    color: $color-basic-white;
  }
}

.search__close {
  border: none;
  padding: 5px;
  background-color: $color-transparent;
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
  color: $color-special-grey;
  cursor: pointer;
  transition: $trans-default;

  &:hover,
  &:focus {
    color: $color-basic-white;
  }
}
