// colors
// ---------------------------------

// default

$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-black-pearl: #181a1d;
$color-basic-white: #c4c4c4;
$color-basic-grey: #222429;
$color-light-grey: #323438;
$color-special-grey: #737476;
$color-green: #14cE8b;
$color-red: #f6544c;
$color-cyan: #15e3b5;
$color-brown: #bb9e67;

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        12px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble:                         "Rouble", "arial", sans-serif;

$ff-open-sans:                    "Open Sans", "Arial", sans-serif;

// Typography
// ---------------------------------

$shadow-default: 2px 2px 15px rgba(0, 0, 0, 0.1);

// Animation
// ---------------------------------

$tf-default: ease;
$trans-default: 0.3s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-768:                            768px;
$vp-1000:                           1000px;
$vp-1280:                           1280px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
